body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(32, 27%, 80%);
  display: flex;
  justify-content: center;
  
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(237, 23, 23, 0.1);
  max-width: 800px;
  width: 100%;
  margin: 20px;
}

header img {
  width: 90%;
  height: auto;
  padding-left: 40px;
  padding-top: 40px;
  
  border-radius: 10px;
  align-items: baseline;

  
}

.Tp{
  padding-left: 40px;
}
.Calories{
  padding-left: 340px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;

}
.Carbs{
  padding-left: 360px;
  color: hsl(14, 45%, 36%);
  font-weight: bold 
}
.Protein{
  padding-left: 348px;
  color: hsl(14, 45%, 36%);
  font-weight: bold
}
.Fat{
  padding-left: 380px;
  color: hsl(14, 45%, 36%);
  font-weight: bold
}

line-table{
  padding: 1px;
  margin: 1px;

}


table{
  padding: 1px;
  margin: 1px;
}




.list ::marker{
  color: hsl(14, 45%, 36%);
  font-weight: bold;

}
.list-ingredients ::marker{
  color: hsl(14, 45%, 36%);

}
.prep-time ::marker{
  color: hsl(332, 51%, 32%);
}



.prep-time{
  background-color:hsl(330, 100%, 98%);
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  
  
} 
.Preparation{
  color: hsl(332, 51%, 32%);
  padding-left: -20px;
  

}

main {
  padding: 40px;
}

h1 {
  font-family: 'Young Serif', serif;
  font-size: 32px;
  margin-top: 0;
  font-weight: bold;
  color: hsl(24, 5%, 18%);
}

h2 {
  font-family: 'Young Serif', serif;
  font-size: 24px;
  color: hsl(14, 45%, 36%);
}

p {
  font-size: 18px;
  color: hsl(24, 5%, 18%);
  line-height: 1.6;
}


.prep-time, .ingredients, .instructions, .nutrition {
  margin-bottom: 30px;
}

ul, ol {
  padding-left: 20px;
  font-size: 16px;
  color:  hsl(24, 5%, 18%);
}

li {
  margin-bottom: 10px;
  color:hsl(30, 10%, 34%) ;
  padding-left: 7px;
}
p,th{
  color:hsl(30, 10%, 34%) ;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;

}


table, th, td {
  border: 1px solid hsl(30, 18%, 87%);
}
td{
  border-collapse: none;
}

th, td {
  padding: 12px;
  text-align: left;
}

td{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    flex-direction:column;
    align-items:center;
    margin: 0;
    padding: 0;
  }
 .Calories{
  padding-left: 100px;
 }
 .Carbs{
  padding-left: 120px;
 }
 .Protein{
  padding-left: 106px;
 }
 .Fat{
  padding-left: 139px;
 }

 .An-easy{
  padding-right: 0px;
  font-size: 20px;
 }
  .container {
    margin-top: 0px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right:0 ;
  }

  header img {
    padding-left: 0;
    padding-top: 0px;
    width: 100%;
    border-radius: 0px;
  }

  .prep-time {
    padding-left: 15px;
    padding-right: 150px;
    margin-right: 10px;
  }

  span {
    padding-left: 20px;
  }

  main {
    padding-right: 0px;
    margin-right: 20px;
    
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 21px;
  }

  

  ul, ol {
    padding-left: 15px;
    font-size: 14px;
  }

  li {
    padding-left: 7px;
  }

  line-table p, span {
    padding: 10px;
  }
  line-table span{
    padding-left: 30px;
  }

}



